*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: #1A0B2E;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;

}
nav{
    padding: 5px;
    display: flex;
    max-width: 1200px;
    height: 92px;
    margin: 0 auto;
    justify-content: space-around;
}
.brand{
    font-size: 40px;
    width: 219px;
}


.span{
    color: transparent;
    background: linear-gradient(to bottom,#0c0707,#b84131,#0519ef);
    -webkit-background-clip:text ;
}
nav>div{
    display: flex;
    gap: 30px;
    align-items: center;
}
.btn1{
    width: 120px;
    height: 37px;
    border-radius: 30px;
    color: #FFFFFF;
    background-color: rgb(59, 95, 59);


}

.hero container{
    max-width: 1200px;
    height: 750px;
    margin: 0 auto;
    display: block;

}
.hero bg img{
    max-width: 1200px;
    height: 750px;
    display: block;
    margin: 0 auto;


}
.section2 {

    text-align: center;
}

.button2>img{
    height: 20px;
    width: 20px;
    color: #ffff;

}
.button2{
    background-color: aqua;
    width: 201px;
    height: 44px;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    margin: 2px;
    border-bottom: 20px;
    align-items: center;
    justify-content: center;

}
.button3{
    background-color: #1A0B2E;
    width: 201px;
    height: 44px;
    padding: 15px;
    border-radius: 30px;
    color: green;
    
}
.section3{
    /* text-align: justify; */
    text-align: center;
}
.section3-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    max-width: 1200px;
    margin: 0 auto;
}
.section3-container h1{
color:#00ff88;

}
.section main{
    background-color: #230E3D;
    padding: 100px;
    margin-top: 200px;
}
.grid-section h1{
    text-align: center;
    margin-top: 200px;

}
.grid-container{
    max-width: 1100px;

    min-height: 250px;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,200px) ;
    display: grid;
    justify-items: ;
    gap: 30px;



}
.box-1{
    grid-row: 1 / span 2;
    height: 455px;
    width: 410px;
    /* border: 1px solid #351165 ; */
    background-color:#351165 ;
    border-radius: 15px;



}
.box-2{

    grid-column: 2 / span 3;
    /* border: 1px solid #351165 ; */
    background-color:#351165 ;
    width: 775px;
    height:225px;
    border-bottom: 20;
    margin-left:-25px;
    border-radius: 15px;
}
.box-3{
    grid-column: 2 / span 3;
    border: 1px solid #351165 ;
    background-color:#351165 ;
    width: 775px;
    height:225px;
    border-top: 20px;
    margin-left: -25px;
    border-radius: 15px;
}

.box-4{
    grid-column: 1 / span 3;
    border: 1px solid #351165 ;
    background-color:#351165 ;
    width: 780px;
    height: 373px;
    border-top: 20px;   
    border-radius: 15px;
}
.box-5{
    grid-column: 3 / span 4;
    border: 1px solid #351165 ;
    background-color:#351165 ;
    width: 400px;
    height: 373px;
    margin-top: -230px;
    margin-left: -28px;
    border-radius: 15px;
}












@media screen and (max-width:576px){
    .menu container{
        display: none;
}
}